
<div id="carouselExampleIndicators" class="carousel carousel-fade slide" data-ride="carousel">

  <!-- スライドさせる画像の設定 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'no_image.jpg', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'no_image.jpg', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'no_image.jpg', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'no_image.jpg', class: 'd-block w-100' %>
    </div>
  </div><!-- /.carousel-inner -->

  <!-- スライドコントロールの設定 -->
  <!-- "<"のデザイン -->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <!-- ">"のデザイン -->
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div><!-- /.carousel -->

<div class="container my-5">
  <div class="row">
      <h3 class="red-border px-3 pb-1">新着商品</h3>
  </div>


</div>
